on boot
    setprop ro.radio.use-ppp no
    setprop ro.radio.noril yes
    setprop status.battery.state Full
    setprop status.battery.level 100
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9
    setprop alsa.mixer.playback.master Master
    setprop alsa.mixer.capture.master Capture
    setprop alsa.mixer.playback.earpiece Master
    setprop alsa.mixer.capture.earpiece Capture
    setprop alsa.mixer.playback.headset Master
    setprop alsa.mixer.playback.speaker Master

